/* GLOBAL */
/* Fonts */
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Light.woff2") format("woff2"),
      url("../fonts/JosefinSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata-Regular.woff2") format("woff2"),
      url("../fonts/Alata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Alata", "Arial",sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  background-color: #fff;
  color: #000;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.main-content{
  flex-grow: 1;
}